global
    log stdout format raw local0

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    option  forwardfor
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend stats
    bind *:8404
    stats enable
    stats uri /
    stats refresh 10s
    http-request use-service prometheus-exporter if { path /metrics }

frontend http_front
    bind *:80
    bind *:443 ssl crt /usr/local/etc/haproxy/cert.pem
    http-request redirect scheme https unless { ssl_fc }

    acl is_flask path_beg /flask
    use_backend flask_backend if is_flask
    default_backend fastapi_backend

backend fastapi_backend
    balance roundrobin
    server api1 api1:8000 check
    server api2 api2:8000 check

backend flask_backend
    http-request replace-path /flask/(.*) /\1
    balance roundrobin
    server flask1 priority_pulse_flask_1:5000 check
    server flask2 priority_pulse_flask_2:5000 check
